useDynLib("MatchIt", .registration = TRUE)

import(stats)
import(graphics)
importFrom("grDevices", "devAskNewPage", "nclass.FD", "nclass.Sturges", "nclass.scott")
importFrom("utils", "setTxtProgressBar", "txtProgressBar", "capture.output")
importFrom("Rcpp", "evalCpp")

export(get_matches)
export(match.data)
export(matchit)
export(add_s.weights)

S3method(plot, matchit)
S3method(plot, matchit.subclass)
S3method(plot, summary.matchit)
S3method(print, matchit)
S3method(print, summary.matchit)
S3method(print, summary.matchit.subclass)
S3method(summary, matchit)
S3method(summary, matchit.subclass)
