import(MASS)
export(matchit,	
       help.matchit,
       match.data, 
       user.prompt) 

S3method(print, matchit)
S3method(print, matchit.exact)
S3method(print, matchit.subclass)
S3method(print, summary.matchit)
S3method(print, summary.matchit.exact)
S3method(print, summary.matchit.subclass)
S3method(plot, matchit)
S3method(plot, summary.matchit)
S3method(plot, matchit.subclass)
S3method(summary, matchit)
S3method(summary, matchit.exact)
S3method(summary, matchit.subclass)
S3method(summary, matchit.full)

